.auth_form {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    padding: 40px;
    background: #0a1624;
    border: 1px solid #ffc936;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


input {
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    height: 40px;
    border-bottom: 1px solid #ffc936;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #fff;
}

p{
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.auth_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a{
    width: 300px;  
}

.additional_image{
    padding: 10px;
    background: #1d1d1d;
}