*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-columns: 300px auto;
    min-height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    border-right: 1px solid #fff;
}

.side_bar_nav{
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 24px;
    color: #fff;
}

.side_bar_nav a {
    cursor: pointer;
    text-decoration: none;
    color: #ffc936;
}

button{
    width: 100%;
}

h1 {
    color: #ffc936;
}

span{
    color: #fff;
    font-size: 24px;
}

.services_list {
    height: 80vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 20px;
    align-items: start;
    justify-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.service_item {
    background: #0a1624;
    height: 520px;
    width: 320px;
    border-radius: 10px;
    gap: 10px;
    display: grid;
    grid-template-rows: 40% 15% 20% 25%;
    justify-content: space-around;
    padding:20px;
    border: 1px solid #ffc936;
    transition: 0.5s ease-in-out;
}

.service_item span{
    font-size: 16px;
}

.create_service_button {
    height: 520px;
    width: 320px;
    background: #0a1624;
    color: #ffc936;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    border: 1px solid #ffc936;
}

.create_service_button:hover {
    box-shadow: 0px 0px 10px #ffc936;
    cursor: pointer;
}

.service_item:hover {
    box-shadow: 0px 0px 10px #ffc936;
    cursor: pointer;
}
    
.service_item img{
    width: 100%;
}

.service_item h3{
    color: #fff;
    text-align: center;
}

.price{
    text-decoration:line-through;
    color: #c0c0c0;
    font-size: 15px;
}
.service_buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orders_list{
    color: #fff;
}

.service_form {
    position: relative;
    width: 500px;
    max-height: 800px;
    margin: 0 auto;
    top: 100px;
    padding: 40px;
    background: #0a1624;
    border: 1px solid #ffc936;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
}

.service_form h1{
    text-align: center;
}

.service_form img {
    margin: 10px;
}

input {
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    background: transparent;
    height: 40px;
    border-bottom: 1px solid #ffc936;
    margin: 10px 0px;
}

label, h3 {
    color: #fff;
    margin: 10px 0px;
}

.clients_list{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.client_item {
    display: flex;
    justify-content: space-between;
    background: #0a1624;
    align-items:center;
    padding: 20px;
    border-radius: 10px;
}

.client_buttons{
    display: flex;
    gap: 20px;
}

.profile_content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
    color: #fff;
}

.profile_content img {
    width: 200px;
    height: 200px;
}

.user_info {
    display: flex;
    gap: 20px;
}

.order_buttons {
    display: flex;
    gap: 20px;  
}

.orders_list{
    height: 85vh;
    overflow-y: auto;
    padding: 20px;
}

.order_item {
    display: flex;
    flex-direction: column;
    background: #0a1624;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}

strong {
    color: #ffc936;
}