<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/Auth.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section>
        @RenderBody()
    </section>
</body>
</html>
