
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoServiceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("userName")))
    {
        <header>
            <h3>AUTO SERVICE</h3>
            <nav>
                <span>Привет, @HttpContextAccessor.HttpContext.Session.GetString("userName")</span>
                <a href="/Account/Logout">Выйти</a>
            </nav>
        </header>
    }
    else
    {
        <div>
            <button><a href="/Auth/Login">Войти</a></button>
        </div>   
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
