<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoServiceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/Profile.css" />
</head>
<body>

    <header>
        <div class="header_content">
            <h3>AUTO SERVICE</h3>
            <nav>
                <a>
                    Главная
                </a>
                <a>
                    Услуги
                </a>
                <a>
                    Контакты
                </a>
            </nav>
            @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("userName")))
            {
                <span>Привет, @HttpContextAccessor.HttpContext.Session.GetString("userName")</span>
            }
            else
            {
                <div>
                    <a href="/Auth/Login"><button>Войти</button></a>
                </div>
            }
        </div>
    </header>
    <section>
        @RenderBody()
    </section>
</body>
</html>


<!--
    #102134
    #1a239f
    #404751
    #896f3d
-->
