@{
    Layout = "_AuthLayout";
}


<form method="post" class="auth_form">
    <h1>Логин</h1>
    <div>
        <input value="ilya@mail.ru" placeholder="Введите Почту" type="email" name="Email" />
    </div>
    <div>
        <input value="67890" placeholder="Введите Пароль" type="password" name="Password" />
    </div>
    <div class="auth_buttons">
        <button type="submit">Войти</button>
        <p>Или</p>
        <button type="button"><a href="/Auth/Register">Создать аккаунт </a></button>
    </div>
</form>