@{
    Layout = "_AuthLayout";
}


<form method="post">
    <h1>Логин</h1>
    <div>
        <label>Почта</label>
        <input type="text" name="Email"/>
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" name="Password" />
    </div>
    <button type="submit">Войти</button>
    <a href="/Auth/Register"><button type="button">Создать аккаунт</button></a>
</form>