@{
    Layout = "_DashboardLayout";
}

<form class="service_form" method="post" enctype="multipart/form-data">
    <h1>Создание услуги</h1>
        <div>
            <input placeholder="Название услуги..." name="Title" />
        </div>
        <div>
            <input placeholder="Цена..." name="Price" type="number" />
        </div>
        <div>
            <input placeholder="Скидка..." name="Discount" type="number" max="100" min="0" />
        </div>
        <div>
            <input placeholder="Время выполнения (например 3 часа)..." name="Time" />
        </div>
        <div>
    <label>Главное изображение:</label>
        <input type="file" name="MainImage" accept="image/*" />
    </div>
        <div class="service_buttons">
            <button type="submit">Создать</button>
            <a href="/Admin/Services"><button type="button">Отмена</button></a>
        </div>
</form>