@{
    Layout = "_DashboardLayout";   
}

@model (List<User> Clients, List<Service> Services)

<form method="post">
    <h1>Создать заказ</h1>
    <h3>Выберете клиента:</h3>
    <select name="ClientId">
        @foreach(var client in Model.Clients)
        {
            <option value="@client.Id">@client.FullName</option>
        }
    </select>
    <h3>Выберете услугу:</h3>
    <select name="ServiceId">
        @foreach(var service in Model.Services)
        {
            <option value="@service.Id">@service.Title</option>
        }
    </select>
    <div class="order_buttons">
        <button type="submit">Создать</button>
        <a href="/Admin/Orders"><button type="button">Отмена</button></a>
    </div>
</form>