@{
    Layout = "_DashboardLayout";
}


<div>
    @foreach(var service in Model)
    {
        <div>
            <h3>@service.Title</h3>
            <p>@service.Description</p>
        </div>
    }
</div>


